

  <!--<h2>{{ student.name | uppercase }} Details</h2>-->

  <!--<div>-->
    <!--<label>name:-->
      <!--<input [(ngModel)]="student.name" placeholder="name">-->
    <!--</label>-->
  <!--</div>-->

  <!--<div><span>id: </span>{{student.id}}</div>-->
  <!--<div><span>city: </span>{{student.city}}</div>-->

<!--<div *ngIf="selectedStudent">-->

  <!--<h2>{{ selectedStudent.name | uppercase }} Details</h2>-->
  <!--<div><span>id: </span>{{selectedStudent.id}} <span>city: </span>  {{selectedStudent.city}}</div>-->
  <!--<div>-->
    <!--<label>name:-->
      <!--<input [(ngModel)]="selectedStudent.name" placeholder="name">-->
    <!--</label>-->
  <!--</div>-->

<!--</div>-->



<h2>Student List</h2>
<ul class="students">
  <li *ngFor="let student of students" (click)="onSelect(student)">
    <span class="badge">{{student.id}}</span> {{student.name}}
  </li>
</ul>

<app-student-detail [student]="selectedStudent"></app-student-detail>
